EcheanceStock/trunk/src/main/resources/wsdl/SAEImplService_integration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://service.sae.gdf.extelia.fr/" name="SAEImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.sae.gdf.extelia.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.sae.gdf.extelia.fr/" schemaLocation="SAEImplService_integration.xsd"/>
    </xsd:schema>
  </types>
  <message name="createDocument">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:base64Binary"/>
    <part name="arg2" type="xsd:base64Binary"/>
  </message>
  <message name="createDocumentResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="createDocumentByPrestation">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:base64Binary"/>
    <part name="arg2" type="xsd:base64Binary"/>
    <part name="arg3" type="xsd:int"/>
  </message>
  <message name="createDocumentByPrestationResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="createDocumentByDoc">
    <part name="arg0" type="tns:docsExport"/>
  </message>
  <message name="createDocumentByDocResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="getDocumentByNumId">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="getDocumentByNumIdResponse">
    <part name="return" type="tns:docsExport"/>
  </message>
  <message name="updateDocument">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:base64Binary"/>
    <part name="arg2" type="xsd:base64Binary"/>
    <part name="arg3" type="xsd:int"/>
  </message>
  <message name="updateDocumentResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="removeDocumentByDoc">
    <part name="arg0" type="tns:docsExport"/>
  </message>
  <message name="removeDocumentByDocResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="incCounter">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:int"/>
    <part name="arg2" type="xsd:boolean"/>
  </message>
  <message name="incCounterResponse">
    <part name="return" type="tns:counter"/>
  </message>
  <message name="incCounterByPrestation">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:int"/>
    <part name="arg2" type="xsd:boolean"/>
    <part name="arg3" type="xsd:string"/>
  </message>
  <message name="incCounterByPrestationResponse">
    <part name="return" type="tns:counter"/>
  </message>
  <message name="incCounterExportByPrestation">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:int"/>
    <part name="arg3" type="xsd:string"/>
  </message>
  <message name="incCounterExportByPrestationResponse">
    <part name="return" type="tns:counterExport"/>
  </message>
  <message name="isCounterSet">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:double"/>
  </message>
  <message name="isCounterSetResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="isCounterSetByPrestation">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:double"/>
    <part name="arg2" type="xsd:string"/>
  </message>
  <message name="isCounterSetByPrestationResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <portType name="SAE">
    <operation name="createDocument" parameterOrder="arg0 arg1 arg2">
      <input message="tns:createDocument"/>
      <output message="tns:createDocumentResponse"/>
    </operation>
    <operation name="createDocumentByPrestation" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:createDocumentByPrestation"/>
      <output message="tns:createDocumentByPrestationResponse"/>
    </operation>
    <operation name="createDocumentByDoc">
      <input message="tns:createDocumentByDoc"/>
      <output message="tns:createDocumentByDocResponse"/>
    </operation>
    <operation name="getDocumentByNumId">
      <input message="tns:getDocumentByNumId"/>
      <output message="tns:getDocumentByNumIdResponse"/>
    </operation>
    <operation name="updateDocument" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:updateDocument"/>
      <output message="tns:updateDocumentResponse"/>
    </operation>
    <operation name="removeDocumentByDoc">
      <input message="tns:removeDocumentByDoc"/>
      <output message="tns:removeDocumentByDocResponse"/>
    </operation>
    <operation name="incCounter" parameterOrder="arg0 arg1 arg2">
      <input message="tns:incCounter"/>
      <output message="tns:incCounterResponse"/>
    </operation>
    <operation name="incCounterByPrestation" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:incCounterByPrestation"/>
      <output message="tns:incCounterByPrestationResponse"/>
    </operation>
    <operation name="incCounterExportByPrestation" parameterOrder="arg0 arg1 arg2 arg3">
      <input message="tns:incCounterExportByPrestation"/>
      <output message="tns:incCounterExportByPrestationResponse"/>
    </operation>
    <operation name="isCounterSet" parameterOrder="arg0 arg1">
      <input message="tns:isCounterSet"/>
      <output message="tns:isCounterSetResponse"/>
    </operation>
    <operation name="isCounterSetByPrestation" parameterOrder="arg0 arg1 arg2">
      <input message="tns:isCounterSetByPrestation"/>
      <output message="tns:isCounterSetByPrestationResponse"/>
    </operation>
  </portType>
  <binding name="SAEImplPortBinding" type="tns:SAE">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="createDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="createDocumentByPrestation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="createDocumentByDoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="getDocumentByNumId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="updateDocument">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="removeDocumentByDoc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="incCounter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="incCounterByPrestation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="incCounterExportByPrestation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="isCounterSet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
    <operation name="isCounterSetByPrestation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sae.gdf.extelia.fr/"/>
      </output>
    </operation>
  </binding>
  <service name="SAEImplService">
    <port name="SAEImplPort" binding="tns:SAEImplPortBinding">
      <soap:address location="http://172.31.239.104:8080/AppSAE/sae"/>
    </port>
  </service>
</definitions>

